{
  # for more info about the config, check out the documentation
  # https://join-lemmy.org/docs/en/administration/configuration.html

  database: {
    host: postgres
    user: "lemmy"
    password: "SED2Z"
    database: "lemmy"
  }
  hostname: "SED1Z"
  bind: "0.0.0.0"
  port: 8536
  tls_enabled: false
  pictrs: {
    url: "http://pictrs:8080/"
    api_key: "SED3Z"
  }
}
